<footer>
    <ul class="f-line-1">
        <li>
            <a href="">
                <p class="logo">Tim Fromentin</p>

            </a>
        </li>
        <li>
            <a href="../../portfolio/index.php#sec-propos">À propos</a>
        </li>
        <li>
            <a href="../../portfolio/index.php#sec-project">Compétence</a>
        </li>
        <li>
            <a href="../../portfolio/index.php#sec-project">Portfolio</a>
        </li>
        <li>
            <a href="../../portfolio/index.php#sec-contact">Contact</a>
        </li>
        <li>
            <a href="../../portfolio/pages/mentions-legale.html">Mentions légales</a>
        </li>
    </ul>
    <ul class="f-line-2">
        <li>
            Tim Fromentin
        </li>
        <li>
             Recherche une alternance en développement web pour un BTS-SIO
        </li>
    </ul>
    <ul class="f-line-3">
        <li>
            Contact
        </li>
        <li>
            <a href="tel:06.50.86.90.86" >
                <ion-icon name="call-outline"></ion-icon> 06.50.86.90.86
            </a>
        </li>
        <li>
            <a href="mailto:tim.fromentin.pro@gmail.com">
                <ion-icon name="mail-outline"></ion-icon> tim.fromentin.pro@gmail.com
            </a>
        </li>
        <li>
            <a href="./assets/pdf/CV.pdf">
                <ion-icon name="newspaper-outline"></ion-icon> C.V
            </a>
        </li>
        <li>
            <a href="https://linktr.ee/apie.tim.fromentin" target="_blank">
                <ion-icon name="link-outline"></ion-icon> Linktree
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/tim-fromentin-339b03208" target="_blank">
                <ion-icon name="logo-linkedin"></ion-icon>Linkedin
            </a>
        </li>
    </ul>
</footer>

