<nav>
    <a href="../index.php" class="logo">Tim Fromentin</a>
    <div class="mobile-nav-box">
        <a href="../index.php" class="nav-link">Acceuill</a>
    <a href="../pages/AllProject.php" class="nav-link">Projet</a>
    <a href="../pages/propos.html" class="nav-link">À Propos</a>
    <a href="../pages/services.html" class="nav-link">services</a>
    <a href="../pages/contact.html" class="nav-link">contact</a>
    <a href="../pages/blog.php" class="nav-link">Blog</a>
    <a href="../pages/devis.php" class="primary-link link-responsive">Devis gratuit</a>
    </div>
    <div class="btn-hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
    <a href="../pages/devis.php" class="primary-link link-desktop">Devis gratuit</a>
</nav>