<footer>
    <ul class="f-line-1">
        <li>
            <a href="">
                <p class="logo">Tim Fromentin</p>

            </a>
        </li>
        <li>
<a href="../pages/AllProject.php">Projet</a>
        </li>
        <li>
            <a href="../pages/propos.html">À Propos</a>
        </li>
        <li>
            <a href="../pages/services.html">Services</a>
        </li>
        <li>
            <a href="../pages/contact.html">Contact</a>
        </li>
        <li>
            <a href="../pages/devis.php">Devis gratuit</a>
        </li>
        <li>
            <a href="../pages/mentions.html">Mentions légales</a>
        </li>
    </ul>
    <ul class="f-line-2">
        <li>
            @Tous droits réservés Tim Fromentin
        </li>
        <li>
            Freelance développeur web
        </li>

    </ul>
    <ul class="f-line-3">
        <li>
            Contact
        </li>
        <li>
            <a href="tel:0">
                <ion-icon name="call-sharp"></ion-icon> 0000000
            </a>
        </li>
        <li>
            <a href="mailto:">
                <ion-icon name="mail-sharp"></ion-icon> contact@
            </a>
        </li>
        <li>
            <ion-icon name="logo-linkedin"></ion-icon> <a href="" target="_blank">Tim Fromentin</a>
        </li>
    </ul>
</footer>


